# Video 2: DataFrame and Series Basics

In [ ]:
people = {
    "first": ["Corey", "Jane"],
    "last": ["Schafer", "Doe"]
}

people["first"]

['Corey', 'Jane']

In [ ]:
df = pd.DataFrame(people)
df

   first     last
0  Corey  Schafer
1   Jane      Doe

In [ ]:
df["first"]  # returns a Series

0    Corey
1     Jane
Name: first, dtype: object

In [ ]:
df[["first", "last"]]  # returns a DataFrame

   first     last
0  Corey  Schafer
1   Jane      Doe

In [ ]:
df.columns

Index(['first', 'last'], dtype='object')

In [ ]:
df.index = ['cs', 'jd']

In [ ]:
df.loc[['cs', 'jd']]

    first     last
cs  Corey  Schafer
jd   Jane      Doe

In [ ]:
df.iloc[[0, 1], [0, 1]]

    first     last
cs  Corey  Schafer
jd   Jane      Doe

In [ ]:
df.iloc[0:2]

    first     last
cs  Corey  Schafer
jd   Jane      Doe